/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body {
    font-family: "Big Shoulders" "Display", serif;
    font-family:  "Lexend Deca", sans-serif; /* Use the primary font */
    color: hsl(0, 0%, 95%); /* Very light gray */
}

.container{
    padding: 20px;
    text-align: left;
    margin: 20px 10px 20px;

}
.car-options {
    display: flex;
    justify-content: space-between;
    height: 500px; 
    background-color: hsl(0, 0%, 95%); /* Very light gray */
    
}

.car-option {
    position: relative;

    flex:1;
    background-color: #fff; /* White */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.car-option h2 {
    font-size: 1.5rem;
    margin: 20px 10px 20px;

}

.car-option p {
    font-size: 1rem;    
    margin: 30px 10px 30px;
}

.car-option button {
    position: absolute;
    bottom: 30px;
    background-color: transparent;
    background-repeat: no-repeat;
    color: #fff;
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px 10px 20px;

}
.car-option button:hover {
    color: hsl(32, 74%, 68%);

}

.sedan
 {
    background-color: rgb(240, 143, 53);
 }
.suv{
    background-color: rgb(50, 148, 148);
}
.luxury{
    background-color: rgb(20, 87, 87);

}

/* Media Queries for Responsiveness (optional) */

@media (max-width: 768px) {
    .car-option {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .car-option {
        width: calc(100% - 20px);
        
    }
}
